.admin-userlist-container {
    padding: 20px;
    margin: 20px;
    background-color: ghostwhite;
    border-radius: 12px;
  }
  
  .admin-userlist-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-userlist-table th,
  .admin-userlist-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .admin-userlist-table th {
    background-color: #007bff;
    color: white;
  }
  
  .admin-userlist-deletebtn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .admin-userlist-deletebtn:hover {
    background-color: #c82333;
  }
  

  .admin-userlist-statusbtn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-right: 8px;
}

.admin-userlist-statusbtn.active {
    background-color: #007bff; /* Blue for unblock */
}

.admin-userlist-statusbtn.inactive {
    background-color: #dc3545; /* Red for block */
}


.admin-userlist-pagination {
    margin-top: 20px;
    text-align: center;
}

.admin-userlist-pagebtn {
    margin: 0 5px;
    padding: 6px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.admin-userlist-pagebtn.active {
    background-color: #0056b3;
}
