.own-appoint-container {
    width: 100%;
    padding: 20px;
    background: #dce1f5;
    min-height: 90vh
  }
  
  .own-appoint-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
  }
  
  .own-appoint-table-container {
    overflow-x: auto;
  }
  
  .own-appoint-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
  }
  
  .own-appoint-table th, 
  .own-appoint-table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  .own-appoint-table th {
    background: #003a79;
    color: white;
  }
  
  /* .own-appoint-status-pending {
    color: orange;
  }
  
  .own-appoint-status-booked {
    color: green;
  }
  
  .own-appoint-status-cancelled,
  .own-appoint-status-rejected {
    color: red;
  }
  
  .own-appoint-status-inprogress {
    color: blue;
  }
  
  .own-appoint-status-completed {
    color: green;
  }
  
  .own-appoint-status-rescheduled {
    color: purple;
  } */
  
  .own-appoint-table tbody tr:nth-child(even) {
    background: #f2f2f2;
  }
  

  .own-appoint-status-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: #2f599b;
    transition: background 0.3s ease;
    margin-bottom: 6px;
  }
  
  .own-appoint-status-btn:hover {
    background-color: #5180b4;
  }
  
  .own-appoint-status-pending { color: orange; }
  .own-appoint-status-booked { color: green; }
  .own-appoint-status-inprogress { color: blue; }
  .own-appoint-status-completed { color: darkgreen; }
  .own-appoint-status-rejected { color: red; }
  

  .own-appoint-delete-btn {
    padding: 6px 8px;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    color:#dc3545;
    /* background-color: #dc3545; */
    transition: background 0.3s ease;
  }
  .own-appoint-delete-btn:hover { background-color: #c82333; color: white; }
  
  .own-appoint-reject-btn {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: #f00909;
    margin-left: 2px;
    transition: background 0.3s ease;
  }
  .own-appoint-reject-btn:hover { background-color: #9f1717; }
  
  .own-appoint-reschedule-btn {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: #199fb3;
    transition: background 0.3s ease;
  }
  .own-appoint-reschedule-btn:hover { background-color: #2c7e8a; }


  .own-appoint-both-btn{
    text-align: center;
  }

  