.user-sidebar-img {
  height: 33px;
  width: 33px;
}

.user-sidebar-head {
  display: flex;
  gap: 6px;
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.user-sidebar-imgtext {
  color: white;
  font-size: 24px;
}

.user-sidebar-ul{
  padding: 10px 1.5rem;
}

.user-sidebar-link{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.user-sidebar-link-para{
  margin: 0;
}


.app-sidebar {
  width: 250px;
  position: fixed;
  top: 66px;
  left: 0;
  height: calc(100vh - 66px) !important;
  background-color: rgb(97 103 146);
  z-index: 1050;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  overflow-y: auto;
}

.sidebar-open {
  transform: translateX(0);
  /* ⬅️ slide into view */
}

.sidebar-collapsed {
  transform: translateX(-100%);
  /* ⬅️ hide to left */
}

/* Optional: hide sidebar completely on large screens unless toggled */
@media (min-width: 768px) {
  .app-sidebar {
    display: none;
  }
}